.inform {
    background: linear-gradient(182.54deg, #1F50E8 20.95%, #7996F0 134.42%);
    width: 1857px;
    height: 363px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.inform-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 1872px;
    height: 104px;
}

.svg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    position: relative;
    right: -315px;
    margin-bottom: 55px;
}

.inform-elements svg:hover {
    stroke: #fff; 
    cursor: pointer;
}

.inform-item-elements1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    text-align: center;
    color: #fff;
    position: relative;
    left: -873px;
    margin-top: 50px;
    gap: 27px;
}
.inform-item-elements2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    text-align: center;
    color: #fff;
    position: relative;
    left: -845px;
    margin-top: 50px;
    gap: 35px;
}

.inform-item-elements3 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    text-align: center;
    color: #fff;
    position: relative;
    left: -837px;
    margin-top: 50px;
    gap: 35px;
}

.inform-item-elements4 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    text-align: center;
    color: #fff;
    position: relative;
    left: -810px;
    margin-top: 50px;
    gap: 38px;
}

.inform-item-elements5 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    text-align: center;
    color: #fff;
    position: relative;
    left: -760px;
    margin-top: 30px;
    gap: 35px;
}

.inform-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 700px; */
    width: 1500px;
    height: 300px;
    right: -250px;
}


.blockinf {
    position: relative;
    width: 804px;
    height: 308px;
    display: flex;
    align-items: center;
    
}

.inf3 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* margin-left: 300px; */
    right: -300px;
}

.firstinf {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #ffffff2c;
    border: none;
    padding: 8px 12px;
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    width: 270px;
    height: 50px;
    border-radius: 8px 8px 8px 4px;
    /* left: -420px; */
    margin-bottom: 170px;
    gap: 15px;
}

.right_button {
    position: relative;
    bottom: -2px;
    transition: transform 0.7s ease;
}

.firstinf:hover {
    background-color: #ffffff60;
    cursor: pointer;
}

.firstinf:hover .right_button {
    transform: translateX(4px);
    transition: transform 0.7s ease;
}

.secondinf {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #ffffff2c;
    border: none;
    padding: 8px 12px;
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    width: 270px;
    height: 50px;
    border-radius: 8px 8px 8px 4px;
    /* left: -390px; */
    margin-bottom: 170px;
    gap: 15px;
}

.secondinf:hover {
    background-color: #ffffff60;
    cursor: pointer;
}

.secondinf:hover .right_button {
    transform: translateX(4px);
    transition: transform 0.7s ease;
}

.lastinf {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #ffffff2c;
    border: none;
    padding: 8px 12px;
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    width: 270px;
    height: 50px;
    border-radius: 8px 8px 8px 4px;
    /* left: -355px; */
    margin-bottom: 170px;
    gap: 15px;
}

.lastinf:hover {
    background-color: #ffffff60;
    cursor: pointer;
}

.lastinf .right_button {
    right: -20px;
}

.lastinf:hover .right_button {
    transform: translateX(4px);
    transition: transform 0.7s ease;
}

.placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -620px;
    background-color: #fff; 
    border-radius: 8px 8px 8px 8px;
    color: #797979;
}

.searchplace {
    width: 870px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 17px;
    margin-left: 9px;
}

.searchsvg {
    margin-right: 15px;
}

.services {
    width: 919px;
    position: relative;
    top: -36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    left: -500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    gap: 20px;
}

.doctor {
    color: #fff;
    background: linear-gradient(305.05deg, #1d5deb -37.02%, #1349be 51.26%);
    border-radius: 0px 15px 15px 15px;
    text-align: center;
    height: 40px;
    width: 190px;
}

.doctor:hover {
    background:linear-gradient(126.44deg, #1751d1 46.18%, #1d5deb 105.53%);
    cursor: pointer;
}

.reg_ts {
    color: #fff;
    background: linear-gradient(305.05deg, #1d5deb -37.02%, #1349be 51.26%);
    border-radius: 0px 15px 15px 15px;
    text-align: center;
    height: 40px;
    width: 190px;
}

.reg_ts:hover {
    background:linear-gradient(126.44deg, #1751d1 46.18%, #1d5deb 105.53%);
    cursor: pointer;
}

.sin_benefit {
    color: #fff;
    background: linear-gradient(305.05deg, #1d5deb -37.02%, #1349be 51.26%);
    border-radius: 0px 15px 15px 15px;
    text-align: center;
    height: 40px;
    width: 190px;
}

.sin_benefit:hover {
    background:linear-gradient(126.44deg, #1751d1 46.18%, #1d5deb 105.53%);
    cursor: pointer;
}

.nal_uved {
    color: #fff;
    background: linear-gradient(305.05deg, #1d5deb -37.02%, #1349be 51.26%);
    border-radius: 0px 15px 15px 15px;
    text-align: center;
    height: 40px;
    width: 300px;
}

.nal_uved:hover {
    background:linear-gradient(126.44deg, #1751d1 46.18%, #1d5deb 105.53%);
    cursor: pointer;
}

.pristav {
    color: #fff;
    background: linear-gradient(305.05deg, #1d5deb -37.02%, #1349be 51.26%);
    border-radius: 0px 15px 15px 15px;
    text-align: center;
    height: 40px;
    width: 190px;
}

.pristav:hover {
    background:linear-gradient(126.44deg, #1751d1 46.18%, #1d5deb 105.53%);
    cursor: pointer;
}

.services a:hover {
    cursor: pointer;
}

.robot {
    width: 180px;
    height: 180px;
    position: relative;
    top: -285px;
    margin-left: 250px;
}