.title {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-left: 300px;
    margin-top: 64px;
    gap: 950px;
}

.strelki {
    gap: 25px;
}

.strelki svg {
    background-color: #edf2fe;
    border-radius: 20px;
}

#levo {
    transform: rotate(90deg);
}

#pravo {
    transform: rotate(270deg);
}

.strelki svg {
    transition: 0.4s ease;
}

.strelki svg:hover {
    cursor: pointer;
    
    transform: scale(1.05);
    background-color: #d0defd;
    width: 25px;
    height: 25px;
}

